@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/open-sans-v17-latin-regular.woff2") format('woff2');
  @include normal(400);
}
@font-face {
  font-family: 'Open Sans';
  src: url("/fonts/open-sans-v17-latin-italic.woff2") format('woff2');
  @include italic(400);
}
@font-face {
  font-family: 'Poppins';
  src: url("/fonts/poppins-v12-latin-700.woff2") format('woff2');
  @include normal(700);
}