@media (min-width: 700px) {
  .site-header {
    position: static;
    height: 100%;
    display: block;
    padding-block-start: 1em;

    .main-navigation {
      font-size: var(--step--1);
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;

      ul {
        display: inline-flex;
        justify-content: space-between;
      }
    }

    button {
      display: none;
    }
  }
}

@media (min-width: 890px) {
  .site-header {
    .main-navigation {
      form {
        margin-inline-start: auto;
      }
    }
  }
}

@media (max-width: 1074px) {
  .classic-wrap {
    grid-template: {
      columns: 100%;
      rows: auto;
    }

    > * {
      grid-column: 1 / -1 !important;
      grid-row: auto !important;
    }

    aside {
      &.article-sidebar {
        .sidebar-links {
          display: inline-flex;
          justify-content: space-between;
          width: 100%;
          flex-wrap: wrap;
        }
      }
    }
  }
}
