@import "_mixins";
@import "_globals";
@import "_localfonts";
@import "_normalize";

:root {
  --gap: 1.25rem;
}
/* =============
BASE-LEVEL STYLES
============= */

html {
  word-wrap: break-word;
  color: $white;
  background: $black;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  min-height: 100vh;
  font: normal normal normal calc(16px + (19 - 16) * ((100vw - 320px) / (1920 - 320)))/1.5 $body;
}

main {
  width: 100%;
  margin: 2rem auto 4rem;
}

img {
  display: block;
  width: 100%;
  margin: auto;
  height: auto;

  &[height] {
    height: auto; // Keep this for aspect ratios
  }
}

a {
  color: $bright;

  &:hover {
    color: $white;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $headings;
  margin: {
    top: 0;
    bottom: 0;
  }
}

h1 {
  font-size: calc(32px + (50 - 32) * ((100vw - 320px) / (1920 - 320)));
}

h2 {
  font-size: calc(26px + (44 - 26) * ((100vw - 320px) / (1920 - 320)));
}

h3 {
  font-size: calc(23px + (36 - 23) * ((100vw - 320px) / (1920 - 320)));
}

h4 {
  font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (1920 - 320)));
}

ul {
  margin: 0;
  padding-left: 0;
}

.servicesPage {
  background: center/cover no-repeat url("/img/rob.jpg");
}

.errorPage,
.servicesPage main {
  height: 100vw;
  max-height: 500px;
}

.homePage {
  background: linear-gradient(130deg, #8A8A73 0%, rgba(22, 22, 21, 0.88) 10%, $black 30%);
}
/* =============
ANIMATION STYLES
============= */

.oops {
  animation: oops 2s;
  transform-origin: left;
  opacity: 0;
  position: relative;
  z-index: 1;
}
@keyframes oops {
  0% {
    transform: rotate(0deg);
    opacity: 100;
  }

  35% {
    transform: rotate(130deg);
  }

  80% {
    transform: rotate(70deg);
  }

  99% {
    opacity: 100;
  }

  100% {
    transform: translateY(99vh) rotate(480deg);
    opacity: 0;
  }
}
/* =============
COMPOSITION STYLES
============= */

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.wrapper {
  width: 95%;
  max-width: 1600px;

  &[data-constrain="more"] {
    max-width: 1100px !important;
  }

  &[data-constrain="most"] {
    max-width: 600px !important;
  }
}

.full-width {
  width: 100%;
}

.grid {
  display: grid;
  gap: var(--gap);
}

.two-col {
  grid-template-columns: 1fr 1fr;
}

.place-center {
  place-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.center {
  text-align: center;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.button {
  background: $bright;
  transition: background ease .25s, color ease .25s;
  border-radius: 5px;
  display: block;
  padding: .5rem 1rem;
  margin: 0;
  text-decoration: none;
  color: $white;
  text-align: center;
  font-family: $headings;
  color: $black;

  &:hover {
    background: $dull;
    color: $white;
  }
}

.headline {
  margin-bottom: .5em;
}
/* =============
SPECIFIED STYLES
============= */

.header {
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: center;
  margin: {
    top: 1rem;
    right: auto;
    left: auto;
  }
  max-width: 60rem;
}

.mainNavigation {
  padding: 0;
  justify-content: space-between;
  margin: {
    top: 1rem;
    left: auto;
    right: auto;
  }
  width: clamp(305px, 85%, 50rem);

  li {
    list-style: none;

    a {
      color: $white;

      &:hover {
        color: $bright;
      }
    }
  }
}

.masthead {
  width: 100%;
  height: clamp(320px, 70vw, 550px);
  padding: 1em 0;

  h1 {
    margin: 0;
  }
}

.news {
  --gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
}

.newsItem {
  background: rgba(247, 247, 255, .3);
  padding: 1rem .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#voted {
  color: $black;
  background: $bright;
  padding: 1rem 0;
}

.who {
  header {
    max-width: 425px;
  }
}

.team {
  margin: 1em auto;
  --gap: 3rem;

  figure {
    margin: 0;
    max-width: 275px;
  }

  img {
    filter: grayscale(100%);
    border-radius: 1.5em;
  }
}

.window {
  border-radius: 50%;
  max-width: 400px;
}

.footer {
  background: $dull;
  position: relative;
  overflow: hidden;
  padding: {
    top: 2vw;
    bottom: 4vw;
  }

  h2 {
    font-size: 24px;
  }

  .content {
    z-index: 1;
    --gap: 2rem;
  }

  address {
    &::before {
      display: inline-block;
      content: "";
      width: 15px;
      height: 17.5px;
      background: center/cover no-repeat url("/img/broken.gif");
    }
  }
}

.siteLinks {
  li {
    list-style: none;
  }
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 360px;
}

.listWrapper {
  max-width: 1000px;
  border-bottom: 1px solid $white;
  padding: {
    top: .5rem;
    bottom: .5rem;
  }
}

.newsPage main {
  h1 {
    font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (1920 - 320)));
  }

  h2 {
    font-size: calc(32px + (50 - 32) * ((100vw - 320px) / (1920 - 320)));
  }
}

.article {
  header {
    border-bottom: 1px solid $white;
  }
}

.credits {
  figure {
    margin: 0 auto;
    max-width: 500px;
  }
}
@import "_media";