@import "_mixins";
@import "_globals";
@import "_localfonts";
@import "_normalize";

html {
  font: normal normal normal calc(14px + (26 - 14) * ((100vw - 320px) / (1920 - 320)))/1.5 $body;
}

body {
  display: grid;
  place-items: center;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
}

main {
  width: 100%;
  padding: 2em;
}