{{ define "content" }}
<main id="main">
  <div class="wrapper">
    <h1>{{ .Params.title }}</h1>
    <p>{{ .Params.description }}</p>
    <p>I swear we had services listed here... Susan, where are those <span class="italic">SERVICES!</span></p>
    {{ `<!-- This is left empty on purpose. See, the backdrop is one of an empty office-like space. The idea is that there are no services anymore, so the page is empty. I know that this goes against some of the other theming on this site, but whatever. I think this is fun. -->` | safeHTML }}
  </div>
</main>
{{ end }}