<!DOCTYPE html>
<html lang="en" dir="ltr" {{ with .Params.class }} class="{{ . }}" {{ end }}>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ $description := .Params.description }}
    <meta name="description" content="{{ $description }}">
    {{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed") }}
    {{ $style := resources.Get "sass/main.scss" | resources.ToCSS $options }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ $title := .Params.title }}
    <title>{{ .Site.Title }} | {{ $title }}</title>
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/schema.html" . }}
  </head>

  <body>
    {{ partial "header.html" . }}
    {{ block "main" . }}
    {{/* define the main block on each content page so it pops here */}}
    {{ end }}
    {{ partial "footer.html" . }}
  </body>

</html>