<footer>
  <section>
    <h2>Company</h2>
    <div>
      <img src="/img/broken-img.gif" alt="">
      <address>
        754 N. Avenue Pl.
        <br>
        Suite 789
        <br>
        Los Angeles, CA 90017
      </address>
    </div>
  </section>
  <section>
    <h2>Links</h2>
    <ul>
      <li><a href="/image-credits/">Image Credits</a></li>
      <li><a href="/sitemap.xml">Sitemap</a></li>
    </ul>
  </section>
  <section>
    <h2>Other Projects</h2>
    <ul>
      <li><a href="https://troyv.dev/" target="_blank" rel="noopener">troyv.dev</a></li>
      <li><a href="https://frontroyalband.com/" target="_blank" rel="noopener">Front Royal</a></li>
      <li><a href="https://pang.netlify.app" target="_blank" rel="noopener">Pang</a></li>
    </ul>
  </section>
</footer>