<footer class="flex-center col footer">
  <img class="overlay" src="/img/wall2.png" alt="" width="360" height="279" loading="lazy">
  <div class="wrapper content grid">
    <section>
      <h2>Company Name</h2>
      <address>
        754 N. Avenue Pl.
        <br>
        Suite 789
        <br>
        Los Angeles, CA 90017
      </address>
    </section>
    <nav id="siteLinks">
      <h2>Site Links</h2>
      <ul class="siteLinks">
        <li><a href="/image-credits/">Image Credits</a></li>
        <li><a href="/sitemap.xml">Sitemap</a></li>
      </ul>
    </nav>
    <nav id="otherProjects">
      <h2>Other Projects</h2>
      <ul class="siteLinks">
        <li><a href="https://www.troyv.dev/" target="_blank" rel="noopener">troyv.dev</a></li>
        <li><a href="https://www.frontroyalband.com/" target="_blank" rel="noopener">Front Royal</a></li>
        <li><a href="https://www.notsocial.app" target="_blank" rel="noopener">NotSocial</a></li>
      </ul>
    </nav>
  </div>
</footer>