<header class="full-width">
  <div class="wrapper flex header">
    <nav class="full-width">
      <ul class="flex mainNavigation full-width">
        <li><a href="/">Home</a></li>
        <li><a href="/services/">Services</a></li>
        <li><a href="/404.html">Leadership</a></li>
        <li><a href="/news/">News</a></li>
      </ul>
    </nav>
    <form aria-hidden="true" action="">
      <input type="search" id="searchbar" name="searchbar" aria-label="Search" placeholder="Search">
    </form>
  </div>
</header>