<div class="grid two-col team-portraits">
  <figure>
    <img src="https://images.dog.ceo/breeds/mastiff-tibetan/n02108551_3305.jpg" alt="" width="574" height="676" loading="lazy">
    <figcaption class="italic">Tibetan Mastiff, Chief Tail Chaser</figcaption>
  </figure>
  <figure>
    <img src="https://images.dog.ceo/breeds/buhund-norwegian/hakon2.jpg" alt="" width="574" height="676" loading="lazy">
    <figcaption class="italic">Norwegian Buhund, Executive in Bark</figcaption>
  </figure>
</div>