	{{ define "robots" }}
	<meta name="robots" content="noindex">
	{{ end }}
	{{ define "inlineStyle" }}
	<style>
		html {
			background: center/cover no-repeat url("/img/liam.jpg");
		}

		.subtitle {
			font-size: calc(23px + (36 - 23) * ((100vw - 320px) / (1920 - 320)));
			margin: .25em auto;
		}

		.message {
			background-color: rgba(247, 247, 255, .9);
			color: #000000;
			height: 33vh;
			padding: 1rem;
		}
	</style>
	{{ end }}
	{{ define "content" }}
	<main class="flex-center col errorPage">
		<section class="flex-center col message wrapper center" data-constrain="more">
			<h1>Hmm...</h1>
			<p class="subtitle italic">Something must've gone wrong!</p>
			<p>We’re hard at work fixing whatever the problem is that got you here, don’t you worry!</p>
		</section>
	</main>
	{{ end }}