{{ define "content" }}
<div class="page-wrap">
	<main class="page-main">
		<div class="wrapper" data-constrain="most">
			<header class="masthead">
				<h1>{{ .Params.hero }}</h1>
				{{ with .Params.subtitle }}
				<p>{{ . }}</p>
				{{ end }}
				<a class="button" href="/services/">Our Services</a>
			</header>
		</div>

		<div class="wrapper">
			<section id="news">
				<h2 class="headline">Latest News</h2>
				<div class="grid news-list">
					{{ range last 3 .Site.RegularPages }}
					<article class="news-item">
						<div>
							<h3>{{ .Title }}</h3>
							<p>{{ .Summary }}</p>
						</div>
						<div>
							<a href="{{ .Permalink }}">Read more...</a>
						</div>
					</article>
					{{ end }}
				</div>
			</section>
		</div>

	</main>

	<aside class="page-sidebar" id="voted">
		<div class="wrapper">
			<section>
				<h2>Voted Top Workplace 2019</h2>
				<p>We pride ourselves on an office rich with culture (and the food isn’t half bad either - thanks Susan!).</p>
				<p>Based in downtown sunny Los Angeles, the view from our window can’t be beat either, Take a look!</p>
				<img class="window" src="/img/matt.jpg" alt="" width="400" height="400" loading="lazy">
			</section>
		</div>
		<div class="wrapper">
			<section id="team" class="center">
				<header>
					<h2>Who We Are</h2>
					<p>We are a team of elite marketing professionals with over 100 years of breakthrough technological expertise.</p>
				</header>
				<div class="grid two-col team-portraits">
					<figure>
						<img src="/img/broken.gif" alt="" width="574" height="676" loading="lazy">
						<figcaption class="italic">Action Hamilton, CEO</figcaption>
					</figure>
					<figure>
						<img src="/img/broken.gif" alt="" width="574" height="676" loading="lazy">
						<figcaption class="italic">Your Favorite Person, CFO</figcaption>
					</figure>
				</div>
			</section>
		</div>
	</aside>
</div>
{{ end }}