{{ define "main" }}
<main class="grid place-center">

	<header class="masthead" id="intro">
		<h1>{{ .Title }}</h1>
		{{ with .Params.subtitle }}
		<p>{{ . }}</p>
		{{ end }}
		<a class="button" href="/services/">Our Services</a>
	</header>

	<section class="full-width flex-center" id="news">
		<div class="wrapper">
			<h2>Latest News</h2>
			<div class="grid news">
				{{ range last 3 .Site.RegularPages }}
				<article class="newsItem">
					<h3>{{ .Title }}</h3>
					<p>{{ .Summary }}</p>
					<a href="{{ .Permalink }}">Read more...</a>
				</article>
				{{ end }}
			</div>
		</div>
	</section>

	<section class="full-width flex-center center" id="who">
		<div class="wrapper">
			<h2>Who We Are</h2>
			<p>We are a team of elite marketing professionals with over 100 years of breakthrough technological expertise.</p>
			<div class="grid two-col who wrapper">
				<figure>
					<img src="/img/broken.gif" alt="">
					<figcaption>Action Hamilton, CEO</figcaption>
				</figure>
				<figure>
					<img src="/img/broken.gif" alt="">
					<figcaption>Action Hamilton, CEO</figcaption>
				</figure>
			</div>
		</div>
	</section>

	<section class="full-width flex-center" id="voted">
		<div class="wrapper voted">
			<div>
				<h2>Voted Top Workplace 2019</h2>
				<p>We pride ourselves on an office rich with culture (and the food isn’t half bad either - thanks Susan!).</p>
				<p>Based in downtown sunny Los Angeles, the view from our window can’t be beat either, Take a look!</p>
			</div>
			<img class="window" src="/img/broken.gif" alt="">
		</div>
	</section>

</main>
{{ end }}