{{ define "content" }}
<main class="grid place-center padded-layout">
  <header class="wrapper center" data-constrain="most">
    <h1>{{ .Title }}</h1>
    <p>{{ .Params.description }}</p>
  </header>
  <div class="wrapper" data-constrain="more">
    {{ range .Site.Data.images.credits.photographers }}
    <article class="grid credits">
      <section>
        <h2>Photographer: {{ .name }}</h2>
        <p><a href="{{ .profile }}" target="_blank" rel="noopener">Unsplash Profile</a></p>
      </section>
      <section>
        <figure>
          <img src="{{ .local }}" alt="{{ .name }}'s Photo" width="{{ .width }}" height="{{ .height }}" loading="lazy">
          <figcaption><a href="{{ .img }}" target="_blank" rel="noopener" class="italic">View on Unsplash</a></figcaption>
        </figure>
      </section>
    </article>
    {{ end }}
  </div>
</main>
{{ end }}